button.mypage_submit {
    background-color: white;
    color: black;
    border-color: yellowgreen;
    border-style: solid;
    padding: 8px 10px;
    border-radius: 7%;
    position: relative;
    left: 10px;
}
}
button#joinx {
	position: relative;
	left: 20px;
}

form#mypage {
    position: relative;
    top: 50px;
}

input#id {
    position: relative;
    left: 20px;
    width: 200px;
    height: 35px;
}
input#pw {
    position: relative;
    left: 10px;
    width: 200px;
    height: 35px;
}
input#nick\ name {
	position: relative;
    left: 20px;
    width: 200px;
    height: 35px;
}
input#email {
	position: relative;
    left: 20px;
    width: 200px;
    height: 35px;
}
input#phone {
	position: relative;
    left: 15px;
    width: 200px;
    height: 35px;
}
input#premium {
	position: relative;
    left: 19px;
    width: 200px;
    height: 35px;
}

.mypage.content {
    position: relative;
    bottom: 25px;
}