
.image_box {
    box-sizing: border-box;
    width: 410px;
    height: 260px;
}
button.btn01 {
    position: relative;
    bottom: 200px;
    background-color: white;
    border-radius: 7px;
    width: 800px;
    height: 40px;
    font-size: x-large;
    left: 300px;
    
}
.upload_finalbtn {
    position: relative;
    top: 50px;
}

input#btnUpload {
    width: 400px;
    background: white;
    border-style: inset;
    border-color: yellowgreen;
    text-shadow: 0 0 black;
    height: 40px;
    font-size: x-large;
    position: relative;
    right: 400px;
	top: 49px;    
}

input[type="file"] {
  display: block;
}

img#upload_image {
    width: 100px;
    position: relative;
    top: 90px;
    right: 485px;
    z-index:1;
}

input#fileNm {
    visibility: hidden;
}

img#imgArea {
    position: relative;
    right: 400px;
    bottom: 100px;
}

td#info1 {
    width: 360px;
}

ul.info_list{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
    width: 800px;
    list-style-type: none;
    font-size: large;
    position: relative;
    bottom: 200px;
    left: 300px;
}

ul.mylist li:before{
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}

ul.mylist li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
  
ul.info_list li:hover {
    background-color: #f6f6f6;
}

button.upload_lastbtn {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 7px 10px;
}

h2#upload_title {
    position: relative;
    bottom: 60px;
}

