@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.image_box {
    box-sizing: border-box;
    width: 410px;
    height: 260px;
    position: relative;
    top: 30px;
}
button.btn01 {
    position: relative;
    bottom: 185px;
    background-color: white;
    border-radius: 7px;
    width: 800px;
    height: 40px;
    font-size: x-large;
    left: 279px;
    font-family: 'DOSMyungjo';
}


input#btnUpload {
    width: 400px;
    background: white;
    border-style: ridge;
    border-color: yellowgreen;
    text-shadow: 0 0 black;
    height: 40px;
    font-size: x-large;
    position: relative;
    right: 400px;
	top: 188px; 
	font-family: 'DOSMyungjo';
}

input[type="file"] {
  display: block;
}

img#upload_image {
    width: 100px;
    position: relative;
    top: 208px;
    right: 485px;
    z-index:1;
}

img#upload_image:visited {
	visibility: hidden;
}

input#fileNm {
    visibility: hidden;
}

img#imgArea {
    position: relative;
    right: 400px;
    bottom: 50px;
    border: 2px ridge;
    border-color: yellowgreen;
    object-fit: cover;
}

td#info1 {
    width: 360px;
}

ul.info_list{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
    width: 1000px;
    list-style-type: none;
    font-size: large;
    position: relative;
    left: 300px;
}

ul.mylist li:before{
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}

ul.mylist li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
  
ul.info_list li:hover {
    background-color: #f6f6f6;
}

button.upload_lastbtn {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 7px 10px;
    border-color: yellowgreen;
}

h2#upload_title {
    position: relative;
    bottom: 40px;
    font-family: 'DOSMyungjo';
}

.info-box {
	border:2px solid; 
	padding: 10px;
    width: 800px;
    height: 310px;
    position: relative;
    bottom: 203px;
    left: 280px;
    border-radius: 7px;
}

.info_list::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}

.image_box2 {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    width: 800px;
    height: 200px;
    position: absolute;
    bottom: -14px;
    left: 278px;
}

div#hiddenContent02 {
    display: none;
}
/* 식물명 css*/
p#plant_name {
    font-size: x-large;
    font-weight: 900;
    color: #353a35;
}

img#ex_img {
    width: 280px;
    height: 280px;
    position: absolute;
    bottom: 257px;
    left: 310px;
    object-fit: cover;
}

.upload_img_ex {
    position: relative;
}

ul#upload_ul {
    list-style: none;
    font-size: large;
    font-weight: 900;
    position: relative;
    top: 111px;
    right: -120px;
}

td#info_title2 {
    width: 120px;
}

div#noneDiv {
    position: absolute;
    left: 270px;
    height: 390px;
    width: 817px;
    bottom: 167px;
    z-index: 1;
}

div#autoKeyword {
	position: relative;
}

p#upload_eyes {
    font-size: -webkit-xxx-large;
    position: relative;
    top: 160px;
}

button#home_lastbtn {
    position: relative;
    right: 10px;
}

.upload_finalbtn {
    position: relative;
    bottom: -32px;
    right: 10px;
}

p#upload_take {
    position: relative;
    top: 200px;
}